Repository META-INT6/REPLANET_React_V2, pull requests merged in 2023-12, with the labels that each got.

#22 [FEATURE] 기부처 상세페이지 조회 0.1.3
  public/campaigns/06cb5ba6b06848afb5d05a89a241f394.jfif
  public/campaigns/a2c9ea5a587d4acfa6157fd4fdec2753.jfif
  src/apis/CampaignListAPI.js
  src/apis/DonationAPI.js
  src/assets/css/campaign.css
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/items/CountBox.js
  src/component/campaigns/lists/CampaignList.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/component/mypage/items/Bookmark.js
  src/component/mypage/lists/BookmarkList.js
  src/component/pays/PayForm.js
  src/modules/CampaignModule.js
  src/pages/campaigns/CampaignDetails.js
  src/pages/campaigns/CampaignRegist.js
  src/pages/org/MyPageOrg.js
  src/pages/pays/Success.js
Labels: organization

#25 [CSS] 리뷰 css 수정
  public/reviewImgs/2056b191-c168-4dbc-989e-8c1537684a02.png
  public/reviewImgs/49f43575-c29d-4fa2-a33c-b5c28a752bf0.png
  public/reviewImgs/4f11607b-f107-45fe-a1c2-223c408566e5.png
  public/reviewImgs/60aa4402-4b14-4703-bfda-c498881a3b31.png
  public/reviewImgs/88a73c344bdd43d6bd2cd64191530b80.jpg
  public/reviewImgs/970a9be4de1d4f578248fd29697d4161.jpeg
  public/reviewImgs/cfacf2ae-103c-4039-a023-48efdc92cbe3.png
  public/reviewImgs/d40143e2b68741a6859b07943b8fb9b9.png
  public/reviewImgs/e0e6aba6-6349-49c6-b184-06468e49ab0f.png
  public/reviewImgs/fb838728-b340-43a7-91ea-7f3bc1084410.png
  src/apis/ReviewAPI.js
  src/assets/css/common.css
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/component/mypage/items/HeartButton.js
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewComment.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/modules/ReviewModule.js
  src/pages/org/MyPageOrg.js
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
Labels: review

#31 [Feature] 통계 조회 0.2.5
  package-lock.json
  src/component/charts/CurrentYearCampaign.js
  src/component/charts/GoalCampaign.js
  src/component/charts/items/CurrentTooltips.js
Labels: chart

#34 ORG 정보 수정 0.2.5
  public/exchangeFiles/6044f16d96b34107a5607d6553e1bf59.jpg
  public/exchangeFiles/96a0d9b36416409eae4801077308df77.jpg
  public/exchangeFiles/c42d0de419be4450b86db892f2fb2d21.jpg
  public/orgImgs/6/ba43dfa04c1247c88827d0e8039a3b2d.jpg
  public/orgImgs/7717a31982764dccbb88cedbc2632ed0.jpeg
  src/component/campaigns/items/CampaignSidebar.js
  src/component/points/lists/PointExchangeList.js
  src/pages/org/OrgEdit.js
Labels: organization

#32 [BUGFIX] 메인페이지 CSS 수정 0.1.5
  public/campaigns/26e261902e584f7385bdd92486b4d9e5.jfif
  public/campaigns/35271d9448e54ee4a4b84c5f8b5b31ca.png
  public/campaigns/bcc12d0dfe6a46519c0791fbc915e390.jpg
  src/assets/css/campaignDetail.css
  src/assets/css/common.css
  src/component/campaigns/items/CampaignContent.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignPlan.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/items/CountBox.js
  src/component/campaigns/lists/CampaignList.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/pages/campaigns/CampaignRegist.js
Labels: campaign

#40 [Fix] ORG 정보 수정 0.2.6, 회원 정보 수정 0.1.3, 전환 신청 승인/반려 0.2.2
  public/orgImgs/0351065380cc4e5fbdb06ab86e9b0f53.jpg
  public/orgImgs/1d426914d6f64b6e8d5e567f87737c7d.jpeg
  public/orgImgs/21/0519ac51738747ff91e2732505c1059b.jpeg
  public/orgImgs/21/331293eda8b84535a9c64f56aa549044.jpeg
  public/orgImgs/2ee116de0f8b40199c5817290b9dde90.png
  public/orgImgs/3401ebdf434a4a2b9550499b8be61375.png
  public/orgImgs/3d0e727e421344d8bd81d52d43facc09.png
  public/orgImgs/441eb4f2bbd34d0ca83c13642ae2fa87.png
  public/orgImgs/56994b12259e4de085406c8608765fd5.jpg
  public/orgImgs/7717a31982764dccbb88cedbc2632ed0.jpeg
  public/orgImgs/7ca0b7edebbe4a4785cc7afaa9d07a08.jpg
  public/orgImgs/88e7c91919924d49b9db16303bb49f82.jpg
  public/orgImgs/b4fa1ef6ba4345329a3089902db66482.jpg
  src/apis/OrgAPI.js
  src/component/points/items/ExchangeInfo.js
  src/pages/org/EditPwdConfirm.js
  src/pages/org/OrgEdit.js
  src/pages/org/OrgWithdraw.js
  src/pages/users/VerifyUser.js
  src/pages/users/Withdrawal.js
Labels: organization, user, point

#38 [BUGFIX] 관심리스트 조회 수정 0.1.5
  src/App.js
  src/component/mypage/items/Bookmark.js
  src/component/mypage/items/HeartButton.js
  src/pages/users/BookmarkList.js
Labels: bookmark

#42 [Feature] 통계 조회 0.2.7
  src/component/charts/CategoryCampaign.js
  src/component/charts/CurrentYearCampaign.js
  src/component/charts/GoalCampaign.js
  src/component/charts/items/currentYearCampaign/CurrentYearTooltips.js
Labels: chart

#43 [Fix] [Feature] ORG 정보 수정 0.2.7, 마이페이지 포인트메뉴 css
  public/exchangeFiles/4ed0df92b6df4bd2a95bdf56e6351289.png
  src/apis/OrgAPI.js
  src/component/auth/AuthContext.js
  src/pages/auth/Login.js
  src/pages/users/MyPage.js
Labels: organization, point

#45 [Fix] 기부(결제)페이지 기부금액 및 포인트사용 input 한자리숫자 안지워지던 현상 수정 등
  src/component/auth/AuthAction.js
  src/component/auth/AuthContext.js
  src/component/org/lists/OrgList.js
  src/component/pays/PayForm.js
  src/pages/auth/OauthKakao.js
  src/pages/auth/SocialSignup.js
  src/pages/pays/Success.js
  src/pages/users/Withdrawal.js
Labels: socialLogin, pay

#44 [BUGFIX] css 수정 0.1.6
  public/campaigns/064d29c3ddda4c618058f5e8587617d2.jpg
  public/campaigns/13d4dace2455400eaf493bc7712b68e0.jfif
  public/campaigns/2b21466cf9224679a5923a74a2b49448.png
  public/campaigns/35271d9448e54ee4a4b84c5f8b5b31ca.png
  public/campaigns/54a0720a091a4607b704f7893bfb742b.jpg
  public/campaigns/600e15532d284d46ac642be9a005bd6e.png
  public/campaigns/627ef71422bc4429a37673e30ceb19a0.png
  public/campaigns/8ca1f15b601646eb9e49e92f3fe954b5.jpg
  public/campaigns/bcc12d0dfe6a46519c0791fbc915e390.jpg
  public/campaigns/c285e0e871d34783a420ecc449912ea1.png
  public/campaigns/e7d8725466f24b9dbc05b9548436de32.jpg
  public/orgImgs/3/d5ed015c2fc0454fb5d2d26c06e1453d.jfif
  public/orgImgs/8/ed0506d87bec4a2ab9abc9a056849f63.jfif
  src/component/campaigns/items/CampaignPlan.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/items/Participation.js
  src/component/campaigns/lists/CampaignList.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/component/org/lists/OrgCamList.js
  src/pages/campaigns/CampaignDetails.js
  src/pages/org/MyPageOrg.js
  src/pages/users/BookmarkList.js
Labels: campaign, bookmark, organization

#51 [Fix] 탈퇴회원, 탈퇴기부처회원 로그인 방지
  src/apis/AuthAPI.js
  src/apis/OrgAPI.js
  src/component/auth/AuthContext.js
  src/component/common/Footer.js
  src/component/mypage/Calculator.js
  src/component/mypage/items/DonationItem.js
  src/pages/auth/Login.js
Labels: auth

#52 [BUGFIX] 캠페인 상세페이지 참여내역 수정 오류 0.1.7
  public/campaigns/02e0427d3f864141a7f527ffabb1815e.png
  public/campaigns/475fa360ac314138a344745f26744073.png
  public/campaigns/b6e6ffafb67a4055b01fbc79d258ebb4.png
  public/campaigns/bda18ee5fac248cb9da87051bac49b85.png
  public/campaigns/d1ffa2ed91034ff8b38e0a957b7d5d9d.png
  public/campaigns/d27c3ec558a7459a823203f62e08e13e.png
  public/campaigns/f0612d24300348ff8a179af30eafdef3.png
  public/orgImgs/5/081038488d96434fa0ea54d7f49e1adf.jpg
  public/orgImgs/5/720f60c691ed413bb0601dc974a632f9.svg
  src/component/campaigns/items/CampaignSidebar.js
  src/pages/campaigns/CampaignDetails.js
  src/pages/campaigns/CampaignModify.js
  src/pages/campaigns/CampaignRegist.js
Labels: campaign

#53 [Fix] ORG 정보 수정 0.2.8, 로그인 엔터 기능 추가, 헤더 햄버거 수정
  src/assets/css/common.css
  src/component/campaigns/items/CampaignSidebar.js
  src/component/common/Header.js
  src/pages/auth/Login.js
  src/pages/org/OrgEdit.js
  src/pages/users/Receipt.js
Labels: organization

#54 [Feature] 통계 조회 0.2.10
  src/App.js
  src/assets/css/chart.css
  src/assets/css/supportbot.css
  src/component/charts/GoalCampaign.js
  src/component/charts/items/GoalCampaignChart.js
  src/component/supportbots/list/BubbleList.js
  src/modules/ChartModule.js
  src/pages/charts/ChartMain.js
Labels: chart

#59 [Fix] 기부처 목록 수정
  src/apis/AuthAPI.js
  src/assets/css/pay.css
  src/component/auth/AuthContext.js
  src/component/org/items/OrgItem.js
  src/component/org/lists/OrgList.js
  src/pages/auth/Signup.js
Labels: organization
